.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
}

.pagination-item {
    overflow: hidden;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--background-color);
    color: transparent;
    border: none;
    transition: var(--transition);
}

.pagination-item:hover:not(.disabled):not(.active) {
    background-color: var(--primary-color);
}

.pagination-item.active {
    background-color: var(--primary-color);
    width: 30px;
    border-radius: 25px;
}

.pagination-item.disabled {
    opacity: 50%;
    cursor: not-allowed;
}